<div>
<p>{{logs}}</p>

<div>
<input type="file" class="file-upload" (change)="addFile($event)" multiple >
<button type="button" (click)="uploadButtonHandler()" [disabled]="fileList.length == 0">Upload</button>
</div>

<ul>
  <li *ngFor="let file of fileList; let i = index">
    {{ i + 1 }} - {{ file.name }}
  </li>
</ul>

<div>
<lib-uploader 
[uploadRequestURL]="uploadRequestURL" [uploadURL]="uploadURL" [fileList]="fileList"
[chunkSize]="chunkSize" [taskId]="taskId"
(progress)="getProgress($event)" (logs)="getLogs($event)"
[uploadButtonEvent]="uploadButtonEvent"
>
</lib-uploader>
</div>

</div>